.certificates {
  padding-bottom: 60px;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: -20px;
    width: calc(50% - 10px);
    margin-right: 20px;
    flex-wrap: wrap;

    @include mq('tablet') {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:first-child {
      @include mq('tablet') {
        margin-bottom: 0;
      }

      .certificates__item {
        width: 100%;
        margin-right: 0;

        &:before {
          top: auto;
          bottom: 0;
          height: 247px;
          background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
          opacity: 0.9;
          border-radius: 0px 0px 4px 4px;

          @include mq('tablet') {
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(image.png);
            border-radius: 4px;
          }
        }
      }

      .certificates__title {
        @include font-source-sans(24px, false, false, 28px);

        @include mq('phablet') {
          @include font-source-sans(20px, false, false, 24px);
        }
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 191px;

    @include mq('phablet') {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:before {
      @include pseudo;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image.png);
      border-radius: 4px;
    }
  }

  &__tag {
    position: relative;
    z-index: 2;
    display: block;
    width: fit-content;
    margin-bottom: auto;
    padding: 6px 12px;
    background: rgba(22, 23, 24, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 4px;
    @include font-source-sans(14px, #fff, 400, 18px);
  }

  &__title {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 5px;
    margin-bottom: 4px;
    @include font-source-sans(20px, #fff, 600, 24px);
  }

  &__desc {
    position: relative;
    z-index: 2;
    display: block;
    margin-bottom: 41px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__link {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    color: #ffffff;
    text-decoration: none;

    svg {
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
}
