.loyalty {
  padding: 60px 0 50px;
  background: center / cover url(../images/loyalty.jpg) no-repeat;

  &__desc {
    display: block;
    margin-bottom: 8px;
    @include font-source-sans(13px, rgba(255, 255, 255, 0.6), 500, 16px);
    text-transform: uppercase;
  }

  .big-title {
    max-width: 630px;
    margin-bottom: 40px;
    color: #fff;

    @include mq('tablet') {
      span.nowrap {
        white-space: normal;
      }
    }
  }

  .blue-btn {
    padding: 10px 54px;
    font-weight: 400;
  }
}
