.login-btn {
  display: block;
  width: fit-content;
  padding: 10px 16px;
  text-align: center;
  @include font-source-sans(false, #4383ff, false, false);
  background: rgba(68, 125, 252, 0.15);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.blue-btn {
  display: block;
  width: fit-content;
  text-align: center;
  @include font-source-sans(false, #fff, 500, false);
  background: #4383ff;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.burger {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 16px;
  margin-left: 20px;
  cursor: pointer;

  @include mq('desktop') {
    display: flex;
  }

  @include mq('tablet-small') {
    margin-left: 0;
  }

  div {
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: #161718;
    transition: 0.1s linear;

    &:before,
    &:after {
      @include pseudo;
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      border-radius: 2px;
      background: #161718;
      transition: 0.2s linear;
    }

    &:after {
      top: auto;
      bottom: 0;
    }
  }

  &.is--active {
    div {
      background: transparent;

      &:before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.section-title {
  display: block;
  @include font-source-sans(24px, false, 500, 28px);

  @include mq('tablet') {
    @include font-source-sans(20px, false, false, 24px);
  }
}

.more-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  @include font-source-sans(false, #4383ff, false, false);
  text-decoration: none;

  svg {
    display: block;
    width: 16px;
    height: 7px;
    margin-left: 8px;
  }
}

.black-btn {
  display: block;
  padding: 10px 16px;
  color: #ffffff;
  cursor: pointer;
  background: #161718;
  border-radius: 4px;

  @include mq('tablet-small') {
    @include font-source-sans(12px, false, false, 15px);
  }
}

.back-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include font-source-sans(14px, #4383ff, 400, 18px);
  text-decoration: none;

  svg {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.pdf-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  @include font-source-sans(14px, #161718, 400, 18px);

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.save-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  @include font-source-sans(14px, #161718, 400, 18px);

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.share-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  @include font-source-sans(14px, #4383ff, 400, 18px);

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.next-btn {
  position: relative;
  @include font-source-sans(false, #4383ff, 500, false);
  text-decoration: none;

  span {
    border-bottom: 1px dashed #4383ff;
  }

  &:before {
    content: '... ';
    color: #161718;
  }
}

.border-btn {
  display: block;
  padding: 10px 28px;
  @include font-source-sans(15px, #4383ff, 500, 20px);
  background: #ffffff;
  border: 1px solid #e1e3e6;
  border-radius: 4px;
  text-decoration: none;
}

.blue-phone-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &:before {
    @include pseudo(block, static);
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: center / cover url(../images/svg/sprite.svg#blue-phone) no-repeat;
  }
}

.details-btn {
  display: block;
  @include font-source-sans(14px, #161718, 400, 18px);
  text-decoration: none;
  padding: 4px 12px;
  background: #ffffff;
  border-radius: 4px;
  width: fit-content;
}

.big-title {
  display: block;
  @include font-source-sans(32px, false, 600, 40px);

  @include mq('tablet') {
    @include font-source-sans(24px, false, false, 30px);
  }
}

.description {
  display: block;
  padding: 16px;
  background: #f9f9f9;
  border-left: 4px solid #909499;

  span {
    display: block;
    @include font-source-sans(14px, #7f8285, 400, 18px);
  }
}
