* {
  --header-height: 72px;

  @include mq('tablet-small') {
    --header-height: 130px;
  }
}

body {
  @include font-source-sans(15px, #161718, 400, 20px);
  background-color: #fff;

  &.is--unscrolble {
    overflow-y: hidden;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    padding-top: var(--header-height);
    flex-grow: 1;
  }
}

.container {
  @include container(1328px, calc(100% - 40px));
}

.nowrap {
  @include nowrap;
}

.h-btn {
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.section {
  padding: 60px 0;

  @include mq('tablet') {
    padding: 30px 0;
  }
}

.ceo-page .ceo__bar {
  padding-top: 57px;
}

.paper-page {
  .ceo__content {
    width: calc(100% - 291px - 48px - 337px);

    @include mq('desktop') {
      width: calc(100% - 337px);
    }

    @include mq('tablet-wide') {
      width: 100%;
    }
  }

  .ceo__content,
  .ceo__bar {
    padding-top: 70px;
  }

  .scroll-top-btn {
    bottom: 820px;
    right: 130px;
  }
}

.paper-heading {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
}

.favorites-page {
  .ceo__content {
    padding-top: 32px;

    .big-title {
      margin-bottom: 16px;
    }
  }

  .ceo__bar {
    padding-top: 133px;
  }
}

.papers-page {
  .big-title {
    padding-top: 32px;
    margin-bottom: 32px;
  }
  .ceo__wrapper {
    padding-bottom: 60px;
    flex-wrap: wrap;
  }

  .ceo__content {
    width: calc(100% - 291px - 48px - 337px);

    @include mq('desktop') {
      width: calc(100% - 337px);
    }

    @include mq('tablet-wide') {
      width: 100%;
    }
  }

  .ceo__bar {
    .section-title {
      margin-bottom: 16px;
    }
  }
}
