.calculate-widget
    .calculate-widget__icon 
        +svg('calculate')

    .calculate-widget__text
        p.calculate-widget__title Рассчитать ипотеку
        p.calculate-widget__desc Это очень удобно, быстро #[span(class="nowrap") и бесплатно!]
        +login-btn('Рассчитать')