.card-info
    .container 
        +back-btn('Назад к выбору объектов')
        .card-info__tags 
            .card-info__tags-item Вид на море
            .card-info__tags-item.blue Ипотека 2.5%
        .card-info__row
            .card-info__col
                p.card-info__title Вилла., 293 м2 в Мораира
                .card-info__place 
                    span Коста-Бланка
                    p ,
                    span Мораира
            .card-info__btns
                +pdf-btn('Скачать презентацию в PDF')
                +save-btn('Сохранить')
                +share-btn('Поделиться')
            
            span.card-info__number Номер лота NWLM88