section.section.conditions 
    .conditions__container 
        +title('Лучшие условия для покупателя')
        .conditions__catalog
            .conditions__item
                .conditions__icon
                    +svg('conditions-item-1')
                p.conditions__title Покупка без комиссий
                p.conditions__desc  Тщательно отбираем базу объектов, проверяем документы на юридическую чистоту.
            
            .conditions__item
                .conditions__icon
                    +svg('conditions-item-2')
                p.conditions__title Рассрочка и ипотека
                p.conditions__desc  Защитим вашу сделку своими средствами в случае потери #[span(class="nowrap") права собственности.]

            .conditions__item
                .conditions__icon
                    +svg('conditions-item-3')
                p.conditions__title Золотая виза
                p.conditions__desc  Все консультации и сервисы компании бесплатны. Вы платите только после сделки.

            .conditions__item
                .conditions__icon
                    +svg('conditions-item-4')
                p.conditions__title Скидки и сертификаты
                p.conditions__desc  Берём всю рутину на себя, вам не нужно тратить время, чтобы разбираться.