.consul-widget.consul-small-widget
    p.consul-widget__desc Или оставьте ваш номер, и я вам перезвоню
    label.consultation__number
        .consultation__number-desc
            img.consultation__number-icon(src="assets/images/flag.png", alt="")
            select.consultation__number-select
                option(value="+34") +34
                option(value="+34") +34
                option(value="+34") +34
        input.consultation__number-input(type="text", placeholder="(XXX) XX-XX-XX")
    +blue-phone-btn
    p.consultation__polic Нажимая на кнопку, вы даете согласие на обработку #[a(href="#") персональных данных]