.consul-widget
    .consul-widget__man 
        p.consul-widget__title Связаться с экспертом
        img.consul-widget__image(src="assets/images/c-man.png", alt="")
        p.consul-widget__name Валерий Альбертович
        a.consul-widget__phone(href="tel:+34800808962") +34 (800) 80-89-62
    p.consul-widget__desc Или оставьте ваш номер, и я вам перезвоню
    .consultation__number
        .consultation__number-desc
            img.consultation__number-icon(src="assets/images/flag.png", alt="")
            select.consultation__number-select
                option(value="+34") +34
                option(value="+34") +34
                option(value="+34") +34
        input.consultation__number-input(type="text", placeholder="(XXX) XX-XX-XX")
    +blue-phone-btn
    p.consultation__polic Нажимая на кнопку, вы даете согласие на обработку #[a(href="#") персональных данных]