section.filters__section
	.container
		.filters__row
			.filters
				span.f-step__types-input Все типы недвижимости

				ul.f-step__types-content
					li.f-step__types-item.is--active Все типы недвижимости
					li.f-step__types-item Апартаменты и Квартиры
					li.f-step__types-item Таунхаусы и Бунгало
					li.f-step__types-item Виллы и дома
					li.f-step__types-item Все типы недвижимости

			.filters.filters--type-dropdown
				span.f-step__types-input Цена

				form.filters__drop-content
					.filters__drop-wrapper
						.filters__drop-title Цена
						.filters__drop-row.filters__drop-row--inputs
							.filters__input
								input(type="text" name="" placeholder="От")
							.filters__input
								input(type="text" name="" placeholder="До")
						.filters__drop-row.filters__drop-row--small
							label.filters__drop.small
								input(type="radio", name="e1")
								span 100 тыс.
							label.filters__drop.small
								input(type="radio", name="e1")
								span 300 тыс.
							label.filters__drop.small
								input(type="radio", name="e1")
								span 500 тыс.
							label.filters__drop.small
								input(type="radio", name="e1")
								span 1 млн.
							label.filters__drop.small
								input(type="radio", name="e1")
								span 2 млн.
							label.filters__drop.small
								input(type="radio", name="e1")
								span 3 млн.

					.filters__drop-wrapper
						.filters__drop-row
							label.filters__drop.circle
								input(type="radio", name="e2")
								span ₽
							label.filters__drop.circle
								input(type="radio", name="e2")
								span $
							label.filters__drop.circle
								input(type="radio", name="e2")
								span €
							label.filters__drop.circle
								input(type="radio", name="e2")
								span £
					.filters__drop-wrapper
						button.filters__drop-remove Сбросить
						+black-button('Показать 64 объявления')

			.filters.filters--type-dropdown
				span.f-step__types-input Спальни и санузлы

				form.filters__drop-content
					.filters__drop-wrapper
						.filters__drop-title Кол-во спален
						.filters__drop-row.filters__drop-row--small
							label.filters__drop.small
								input(type="radio", name="w1")
								span Любое
							label.filters__drop.small
								input(type="radio", name="w1")
								span 1
							label.filters__drop.small
								input(type="radio", name="w1")
								span 2
							label.filters__drop.small
								input(type="radio", name="w1")
								span 3
							label.filters__drop.small
								input(type="radio", name="w1")
								span 4
							label.filters__drop.small
								input(type="radio", name="w1")
								span 5+
					.filters__drop-wrapper
						.filters__drop-title Кол-во санузлов
						.filters__drop-row.filters__drop-row--small
							label.filters__drop.small
								input(type="radio", name="w2")
								span Любое
							label.filters__drop.small
								input(type="radio", name="w2")
								span 1
							label.filters__drop.small
								input(type="radio", name="w2")
								span 2
							label.filters__drop.small
								input(type="radio", name="w2")
								span 3
							label.filters__drop.small
								input(type="radio", name="w2")
								span 4
							label.filters__drop.small
								input(type="radio", name="w2")
								span 5+
					.filters__drop-wrapper
						+black-button('Показать 64 объявления')

			.filters.filters--type-dropdown
				span.f-step__types-input Площадь м#[sup(class="") 2]
				form.filters__drop-content
					.filters__drop-wrapper
						.filters__drop-title Метраж
						.filters__drop-row.filters__drop-row--inputs
							.filters__input
								input(type="text" name="" placeholder="От м2")
							.filters__input
								input(type="text" name="" placeholder="До м2")
						.filters__drop-row.filters__drop-row--small
							label.filters__drop.small
								input(type="radio", name="q1")
								span от 50
							label.filters__drop.small
								input(type="radio", name="q1")
								span От 70
							label.filters__drop.small
								input(type="radio", name="q1")
								span От 100
							label.filters__drop.small
								input(type="radio", name="q1")
								span От 300+
					.filters__drop-wrapper
						button.filters__drop-remove Сбросить
						+black-button('Показать 64 объявления')


			.filters.filters--type-dropdown.filters__more
				span.f-step__types-input Ещё фильтры
				span.filters__more-icon 2

				form.filters__drop-content.filters__drop-content--wide
					.filters__drop-heading Ещё фильтры
					.filters__drop-wrapper
						.filters__drop-title Расстояние до моря
						.filters__drop-row
							label.filters__drop
								input(type="radio", name="1")
								span Первая линия
							label.filters__drop
								input(type="radio", name="1")
								span До 100 м.
							label.filters__drop
								input(type="radio", name="1")
								span До 200 м.
							label.filters__drop
								input(type="radio", name="1")
								span До 500 м.
							label.filters__drop
								input(type="radio", name="1")
								span Не важно

					.filters__drop-wrapper
						.filters__drop-title Вид из окна
						.filters__drop-row
							label.filters__drop.circle
								input(type="radio", name="2")
								span Море
							label.filters__drop.circle
								input(type="radio", name="2")
								span Горы
							label.filters__drop.circle
								input(type="radio", name="2")
								span Город
							label.filters__drop.circle
								input(type="radio", name="2")
								span Не важно

					.filters__drop-wrapper
						.filters__drop-title Дополнительно
						.filters__drop-row
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Бассейн
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Мебель
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Парковка
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Гараж
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Лифт
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Балкон
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Интернет
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span ТВ
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Сад
							label.filters__drop.circle
								input(type="checkbox", name="3")
								span Терраса

					.filters__drop-wrapper
						button.filters__drop-remove Сбросить фильтры
						+black-button('Показать 14 912 вариантов')

			label.filters.filters__search
				input.filters__search-input(type="text")
				a(href="#") Регион

			+blue-btn('Поиск')

		.filters__row.filters__tag-row
			.filters__tag Расстояние до моря до 500 м.
				span.filters__tag-close.h-btn
			.filters__tag Бассейн
				span.filters__tag-close.h-btn

			+login-btn('Сбросить')
