.h-favorites
    a.h-favorites__icon(href="#") 
        +svg('favorites')
        span 2
		
    .h-favorites__content
        p.h-favorites__title Избранное
        .h-favorites__wrapper
            -for (var i=0;i<2;i++)
                a.h-favorites__item(href="#")  
                    .h-favorites__text
                        p.h-favorites__name 2-комн. кв., 77 м2 
                        .actual-card__price-wrapper 
                            p.actual-card__price €00 000
                            p.actual-card__price-before €00 000
                        p.h-favorites__place Lorem, ipsum.
                    img.h-favorites__img(src="https://via.placeholder.com/48x48", alt="") 
        
        +more-btn('Перейти в избранное')