section.loyalty
    .container
        p.loyalty__desc Программа лояльности
        p.big-title Становитесь нашим клиентом #[span(class="nowrap") и получайте] подарки и скидки до 40%
        +blue-btn('Найти жильё')