section.section.materials 
    .container 
        +title('Полезные материалы')
        .materials-grid 
            .materials-grid__item(style="background-image: url(https://via.placeholder.com/654x654);")
                .materials-grid__text 
                    p.materials-grid__title Каков самый надёжный способ уехать из России в Испанию на ПМЖ?
                    span.materials-grid__tag YouTube
            
            .materials-grid__item(style="background-image: url(https://via.placeholder.com/654x317);")
                .materials-grid__text 
                    p.materials-grid__title Всё, что нужно знать туристу об Испании. Самый большой виртуальный путеводитель по стране.
                    span.materials-grid__tag Статья
            
            .materials-grid__item(style="background-image: url(https://via.placeholder.com/317x317);")
                .materials-grid__text 
                    p.materials-grid__title Это самый захватывающий вид в моей жизни! 😍😍😍 #Spain #Mallorca #Fujifilm #Landscape #...
                    span.materials-grid__tag Instagram
            
            .materials-grid__item(style="background-image: url(https://via.placeholder.com/654x654);")
                .materials-grid__text 
                    p.materials-grid__title Современный дом за €12 000 в центре Торревьехи. Реально ли?
                    span.materials-grid__tag YouTube