section.section.materials 
    .container 
        +title('Полезные материалы')
        .materials__grid 
            a.materials__item(style="background-image: url(https://via.placeholder.com/654x654);", href="#")  
                .materials__text 
                    p.materials__title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quia.
                    span.materials__tag YouTube
            
            a.materials__item(style="background-image: url(https://via.placeholder.com/654x317);", href="#")
                .materials__text 
                    p.materials__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reprehenderit quod veniam!
                    span.materials__tag Статья
            
            a.materials__item(style="background-image: url(https://via.placeholder.com/317x317);", href="#")
                .materials__text 
                    p.materials__title Lorem ipsum dolor sit amet. 😍😍😍 #Spain #Mallorca #Fujifilm #Landscape #...
                    span.materials__tag Instagram
            
            a.materials__item(style="background-image: url(https://via.placeholder.com/317x317);", href="#")
                .materials__text 
                    p.materials__title Lorem, ipsum dolor sit amet consectetur adipisicing.
                    span.materials__tag YouTube
        
        +more-btn('Больше полезных материалов')