.offers
    .offers__heading 
        +title('Может быть интересно')
        +more-btn('Посмотреть все')

    .offers__content
        a.materials__item.is--long(style="background-image: url(https://via.placeholder.com/654x317);", href="#")
            .materials__text 
                p.materials__title Lorem, ipsum dolor sit amet consectetur adipisicing.
                span.materials__tag YouTube
        
        a.materials__item(style="background-image: url(https://via.placeholder.com/317x317);", href="#")
            .materials__text 
                p.materials__title Lorem, ipsum dolor sit amet consectetur adipisicing.
                span.materials__tag YouTube
        
        a.materials__item(style="background-image: url(https://via.placeholder.com/317x317);", href="#")
            .materials__text 
                p.materials__title Lorem, ipsum dolor sit amet consectetur adipisicing.
                span.materials__tag YouTube
