ul.paper-list
	li.paper-list__item 
		+back-btn('Назад ко всем статьям')
	li.paper-list__item
		a.paper-list__link.anchor.is--active(href="._introduction") Вступление
	li.paper-list__item
		a.paper-list__link.anchor(href="._passport") Помните о паспорте!
	li.paper-list__item
		a.paper-list__link.anchor(href="._info") Полезная информация
	li.paper-list__item
		a.paper-list__link.anchor(href="._description") Краткое описание курортов Испании