section.section.paper 
    .container
        +title('Продажа квартир в Испании')

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quod eveniet. Rem sit at inventore tempora nam libero facere ipsa?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quod eveniet. Rem sit at inventore tempora nam libero facere ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nemo harum exercitationem voluptatem animi dolorem rerum necessitatibus facere, voluptate at.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quod eveniet. Rem sit at inventore tempora nam libero facere ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, omnis tempora quidem nulla porro soluta distinctio ducimus ad accusamus consequatur fugiat animi architecto dolor quae assumenda nesciunt saepe? Sint, doloribus?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit facilis nisi quod delectus provident possimus, sequi similique, ducimus consequuntur neque praesentium soluta repellendus obcaecati aut cupiditate ex quas, repellat commodi. Error nihil modi obcaecati amet corporis, totam similique eligendi cumque aliquid debitis porro consectetur.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore tempora deserunt ipsam assumenda, eius sapiente ipsum, saepe odit ut accusantium ducimus veniam sunt eligendi dolor? Porro quidem error sed eum aspernatur nobis vero sunt perferendis dolorum tenetur ducimus cum quos, non necessitatibus ipsa minima ex, voluptatum assumenda voluptas incidunt.