.paps-widget
    .paps-widget__row 
        .paps-widget__icon
            img(src="https://via.placeholder.com/48x48", alt="")
        p.paps-widget__title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quisquam.
    p.paps-widget__desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia tempore excepturi quas iusto.
    include rating