.resort
    .card-content__characteristics-title Lorem-ipsum
    .resort__slider
        -for (var i=0;i<5;i++)
            .resort__item 
                img.resort__img(src="https://via.placeholder.com/280x200", alt="")
    p.card-content__characteristics-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo a hic eligendi omnis. Illo quibusdam exercitationem, labore ex assumenda quod maxime laboriosam velit sed quas. Deserunt veritatis consectetur veniam optio consequuntur, laborum odit similique perspiciatis error natus repellat sit esse unde vero officiis placeat quidem repellendus id? Animi, temporibus ratione!