.sale-widget
    .sale-widget__icon 
        +svg('sale')
    .sale-widget__text 
        p.sale-widget__title Подарок при покупке!
        p.sale-widget__desc Становитесь нашим клиентом и получайте скидки до 50% на жильё
        +details-btn('Узнать подробнее')
    a.sale-widget__close
        +svg('sale-close')