.warning 
    .warning__icon 
        +svg('warning') 
    .warning__text 
        p.warning__title Помните о паспорте!
        p.warning__desc Носите с собой удостоверение личности (ксерокопия паспорта вариант приемлемый и безопасный – главное, чтобы была копия страниц с фото и визой, а если заверить это дело в отеле – цены не будет!).

